:root {
  --primary-text-color: #333;
  --secondary-text-color: #666;
  --border-color: #ddd;
  --background-color: #f9f9f9;
}

.userTile {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  gap: 2rem;
  padding: 10px;
  border: 1px solid var(--border-color);
  margin-bottom: 10px;
  border-radius: 8px;
  background-color: var(--background-color);
  width: 30rem;
}

.profilePic {
  width: 3rem;
  height: 3rem;
  border-radius: 50%;
  margin-right: 15px;
}

.userName {
  font-size: 1.2em;
  margin-right: 1rem;
  font-weight: bold;
  color: var(--primary-text-color);
  width: 15rem;
}

.userVotes {
  font-size: 0.9em;
  color: var(--secondary-text-color);
}
@media (max-width: 768px) {
  .userTile {
    width: 100%;
  }
}

@media (max-width: 600px) {
  .userTile {
    gap: 1rem;
  }
  .userName {
    width: 7rem;
  }
}
@media (max-width: 480px) {
  .userTile {
    gap: 0.5rem;
  }
  .profilePic {
    width: 2.5rem;
    height: 2.5rem;
  }

  .userName {
    font-size: 1em;
    width: 5rem;
  }

  .userVotes {
    font-size: 0.8em;
  }
}
