:root {
  --primary-text-color: #333;
  --secondary-text-color: #666;
  --border-color: #ddd;
  --background-color: #f9f9f9;
}

.userTile {
  display: grid;
  grid-template-columns: 1fr 3fr 1fr;
  align-items: center;
  justify-content: center;
  gap: 2rem;
  padding: 10px;
  border: 1px solid var(--border-color);
  margin: 0 1rem 1rem 1rem;
  border-radius: 8px;
  background-color: var(--background-color);
  width: 90%;
  height: 4rem;
}

.profilePic {
  width: 3rem;
  height: 3rem;
  border-radius: 50%;
}

.userName {
  font-size: 1.2em;
  margin-right: 1rem;
  font-weight: bold;
  color: var(--primary-text-color);
}

.userVotes {
  font-size: 0.9em;
  color: var(--secondary-text-color);
}

@media (max-width: 600px) {
  .userTile {
    gap: 1rem;
  }
}
@media (max-width: 480px) {
  .userTile {
    gap: 0.5rem;
    width: 80%;
  }
  .profilePic {
    width: 2.5rem;
    height: 2.5rem;
  }

  .userName {
    font-size: 1em;
  }

  .userVotes {
    font-size: 0.8em;
  }
}
